@import "src/app/styles/fonts";

.coinCard {
  border-bottom: 0.1vw solid rgba(59, 39, 21, 0.4);
  margin-top: 0.5vw;
  display: flex;
  margin-bottom: 1vw;
}

.coinInfo {
  margin-right: 2vw;
  margin-bottom: 0.5vw;
}

.coinData{
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.3vw;
  width: 1.5vw;
}

.name {
  @include montserrat(1.2vw, 500);
}

.prices {
  display: flex;
  @include montserrat(1vw, 500);
  margin-top: 0.2vw;
}

.difference {
  margin-left: 1vw;
}

.delete {
  margin: 0 0 0 auto;
}