@import "src/app/styles/fonts";

.coinCard {
  border-bottom: 0.1vw solid rgba(59, 39, 21, 0.4);
  margin-top: 0.5vw;
  display: flex;
  margin-bottom: 1vw;
}

.coinInfo {
  margin-right: 2vw;
  margin-bottom: 0.5vw;
}

.coinData{
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.3vw;
  width: 1.3vw;
  height: 1.3vw;

  @media (max-width: 1440px) {
    width: 1.5vw;
    height: 1.5vw;
  }
  @media (max-width: 1280px) {
    width: 1.8vw;
    height: 1.8vw;
  }
  @media (max-width: 1024px) {
    width: 2.2vw;
    height: 2.2vw;
  }
  @media (max-width: 768px) {
    width: 3.7vw;
    height: 3.7vw;
  }
}

.name {
  @include montserrat(1.1vw, 500);

  @media (max-width: 1440px) {
    @include montserrat(1.3vw, 500);
  }
  @media (max-width: 1280px) {
    @include montserrat(1.5vw, 500);
  }
  @media (max-width: 1024px) {
    @include montserrat(1.8vw, 500);
  }
  @media (max-width: 768px) {
    @include montserrat(3vw, 500);
  }
}

.prices {
  display: flex;
  @include montserrat(1.1vw, 500);
  margin-top: 0.2vw;

  @media (max-width: 1440px) {
    @include montserrat(1.3vw, 500);
  }
  @media (max-width: 1280px) {
    @include montserrat(1.5vw, 500);
  }
  @media (max-width: 1024px) {
    @include montserrat(1.8vw, 500);
  }
  @media (max-width: 768px) {
    @include montserrat(2.8vw, 500);
  }
}

.difference {
  margin-left: 1vw;
}

.delete {
  margin: 0 0 0 auto;
}