@import "src/app/styles/fonts";

.tableHeader {
  @include montserrat(1.1vw, 700);
  text-align: center;
  color: wheat;
  background-color: rgba(59, 39, 21, 0.7);

  tr th:last-child {
    @media (max-width: 768px) {
      visibility: hidden;
    }
  }

  @media (max-width: 1440px) {
    @include montserrat(1.3vw, 500);
    color: wheat;
  }
  @media (max-width: 1280px) {
    @include montserrat(1.5vw, 500);
    color: wheat;
  }
  @media (max-width: 1024px) {
    @include montserrat(1.8vw, 500);
    color: wheat;
  }
  @media (max-width: 768px) {
    @include montserrat(2.4vw, 500);
    color: wheat;
  }
}
