@import "src/app/styles/fonts";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(59, 39, 21, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #e3b671;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 0.3vw;
  border: 0.1vw solid rgba(59, 39, 21, 0.3);
}

.title {
  @include montserrat(1.5vw, 700);
  text-align: center;
  margin-bottom: 1vw;

  @media (max-width: 1440px) {
    @include montserrat(1.7vw, 500);
  }
  @media (max-width: 1280px) {
    @include montserrat(1.9vw, 500);
  }
  @media (max-width: 1024px) {
    @include montserrat(2vw, 500);
  }
  @media (max-width: 768px) {
    @include montserrat(2.7vw, 500);
  }
}