@import "src/app/styles/fonts";

.body {
  text-align: right;
  margin-left: 6vw;
}

.title {
  display: flex;
  margin-bottom: 0.3vw;
  margin-left: 1vw;
}

.coinImage {
  width: 1.3vw;
  height: 1.3vw;
  margin: 0 0.3vw 0 0;
  
  @media (max-width: 1440px) {
    width: 1.5vw;
    height: 1.5vw;
  }

  @media (max-width: 1280px) {
    width: 1.8vw;
    height: 1.8vw;
  }

  @media (max-width: 1024px) {
    width: 2.2vw;
    height: 2.2vw;
  }

  @media (max-width: 768px) {
    width: 3.7vw;
    height: 3.7vw;
  }
}

.coinName {
  @include montserrat(1.2vw, 500);

  @media (max-width: 1440px) {
    @include montserrat(1.4vw, 500);
  }

  @media (max-width: 1280px) {
    @include montserrat(1.5vw, 500);
  }

  @media (max-width: 1024px) {
    @include montserrat(1.9vw, 500);
  }

  @media (max-width: 768px) {
    @include montserrat(3.4vw, 500);
  }
}

.coinSymbol {
  @include montserrat(0.8vw, 600);
  color: rgba(59, 39, 21, 0.8);
  margin-left: 0.2vw;

  @media (max-width: 1440px) {
    @include montserrat(1vw, 500);
  }

  @media (max-width: 1024px) {
    @include montserrat(1.4vw, 500);
  }

  @media (max-width: 768px) {
    @include montserrat(2.2vw, 500);
  }
}

.coinPrice {
  @include montserrat(1.1vw, 600);

  @media (max-width: 1440px) {
    @include montserrat(1.3vw, 600);
  }

  @media (max-width: 1280px) {
    @include montserrat(1.5vw, 600);
  }

  @media (max-width: 1024px) {
    @include montserrat(1.8vw, 600);
  }

  @media (max-width: 768px) {
    @include montserrat(3vw, 600);
  }
}