@import "src/app/styles/fonts";

.content {
  margin: 3vw 10vw 3vw 10vw;
}


.info {
  display: flex;
}

.infoLeft {
  width: 54vw;
}

.back {
  @include montserrat(1vw, 500);
  text-decoration: none;
  margin-left: 1vw;
}

.infoRight {
  width: 20vw;
  margin-left: 5vw;
  margin-top: 1.7vw;
}

.coinPrice {
  @include montserrat(2.5vw, 700);
  margin-bottom: 2vw;
}

.error {
  @include montserrat(2vw, 500);
  margin-left: 1vw;
  margin-bottom: 1vw;
}

.addButton {
  margin-top: 2vw;
  height: 2vw;
  @include montserrat(1vw, 700);
  background-color: rgba(255, 255, 255, 0.4);
  border: 0.1vw solid rgba(59, 39, 21, 0.3);
  border-radius: 0.1vw;
  padding: 0.2vw 0.8vw 0.2vw 0.8vw;
  width: 100%;

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(59, 39, 21, 0.7);
    cursor: auto;
  }
}