@import "src/app/styles/fonts";

.title {
  display: flex;
  margin-bottom: 1vw;
  margin-left: 1vw;
}

.coinRank {
  @include montserrat(2vw, 500);
}

.coinImage {
  width: 2.1vw;
  height: 2.1vw;
  margin: 0 0.6vw 0 1vw;
}

.coinName {
  @include montserrat(2vw, 600);
}

.coinSymbol {
  @include montserrat(1.1vw, 700);
  color: rgba(59, 39, 21, 0.8);
  margin-left: 0.5vw;
}