@import "src/app/styles/fonts";

.title {
  @include montserrat(1.5vw, 700);

  @media (max-width: 1440px) {
    @include montserrat(1.8vw, 700);
  }
  @media (max-width: 1280px) {
    @include montserrat(2vw, 700);
  }
  @media (max-width: 1024px) {
    @include montserrat(2.3vw, 700);
  }
  @media (max-width: 768px) {
    @include montserrat(3vw, 700);
  }
}

.aboveTableArea {
  display: flex;
  width: 100%;
  height: 4vw;
  align-items: center;
}

.cpTable {
  width: 100%;
}